#calendar {
  position: relative;
  border-right: 1px solid var(--line-gray);
}

/* HEADER */

#calendar header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #fff;
}

#calendar header h1 {
  font-size: 2rem;
}

#calendar nav {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--line-gray);

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#calendar nav .topmenu {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#calendar nav input[type='month'] {
  color: var(--gray);
  font-weight: 500;
  font-family: inherit;

  padding: 0.5rem;
  border-radius: 4px;
  border: 1px solid var(--medium-gray);
  outline-color: var(--green);
}

#calendar nav input[type='month']::before {
  /* CHEVRON */
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 5px;

  position: relative;
  top: 0em;
  left: 0.25em;
  transform: rotate(-135deg);

  vertical-align: top;
  width: 0.4em;

  margin-right: 1rem;
}

#calendar nav button {
  cursor: pointer;

  height: 100%;
  line-height: 100%;
  padding: 0.5rem;
  background-color: inherit;

  border: 1px solid var(--medium-gray);
  border-radius: 4px;
}

#calendar nav button:hover,
#calendar nav button.active {
  border-color: var(--green);
  background-color: var(--light-green);
}

#calendar nav button:hover i,
#calendar nav button.active {
  color: green;
}

/* SCROLL BAR */

#calendar::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* DAYS */

#calendar .days {
  background-color: #f5f7fa;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #eaedf3 0,
    #eaedf3 1px,
    #f5f7fa 0,
    #f5f7fa 50%
  );

  padding: 0 1.5rem 2rem 1.5rem;
}

#calendar .names,
#calendar .numbers,
#calendar .meals {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.5rem;
}

#calendar .names,
#calendar .numbers {
  font-weight: 500;
  list-style: none;
}

#calendar .names {
  background-color: #fff;
  font-size: var(--fs-sm);
  padding: 1rem 1.5rem;
  box-shadow: rgba(149, 157, 165, 0.1) 0px 8px 24px;
}

#calendar .names li {
  padding-left: 0.25rem;
  color: var(--gray);
}

#calendar .numbers li {
  padding: 1rem 0 1rem 0.25rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* WEEK */

#calendar .week {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.25rem 0.5rem;
}

.day {
  cursor: pointer;
  border: 1px solid var(--line-gray);
  padding: 1rem;
  border-radius: 4px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: start;
  gap: 0.5rem;
}

.day i {
  color: var(--green);
  font-size: var(--fs-xl);
}

.past i {
  color: var(--orange);
}

.day:hover {
  border-color: var(--green);
  background-color: var(--light-green);
}

.past:hover {
  border-color: var(--orange);
  background-color: var(--light-orange);
}

.day span.title {
  font-weight: 600;
}

.day span.description {
  color: var(--gray);
  font-size: var(--fs-sm);
}

/* EMPTY DAYS & DAYS-OFF */

.empty {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.empty i {
  color: var(--medium-gray);
}

.empty .time {
  border: none;
  padding: 0;
  margin: 0;
}

.day-off {
  color: var(--gray);
}

/* INFO TAGS */

#today:after {
  content: 'hoje';
  color: var(--green);
  font-size: var(--fs-sm);
  padding: 0.25rem;
  margin-left: 0.5rem;
  border: 2px solid var(--green);
  border-radius: 4px;
}

.time {
  font-size: var(--fs-sm);
  color: var(--gray);
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 0.25rem;
  border-bottom: 4px solid var(--green);
}

.past .time {
  border-color: var(--orange);
}

/* WEEK: POSITIONS */

.day-1 {
  grid-column-start: 1;
}

.day-2 {
  grid-column-start: 2;
}

.day-3 {
  grid-column-start: 3;
}

.day-4 {
  grid-column-start: 4;
}

.day-5 {
  grid-column-start: 5;
}

.time-1 {
  grid-row-start: 1;
}

.time-2 {
  grid-row-start: 2;
}

.time-3 {
  grid-row-start: 3;
}

.time-1 .time:before {
  content: 'Manhã';
}

.time-2 .time:before {
  content: 'Tarde';
}

.time-3 .time:before {
  content: 'Noite';
}

/* ASIDE - MEALS STATS */

#meals-stats {
  width: 200px;
  display: initial;
}

#meals-stats.toggled {
  width: 0;
  display: none;
}

#meals-stats .heading {
  padding: 1rem;
  /* margin-bottom: 0.75rem; */
  border-bottom: 1px solid var(--line-gray);
}

#meals-stats .stat {
  font-size: var(--fs-sm);

  padding: 0.5rem 1rem;
  /* border-bottom: 1px solid var(--line-gray); */

  display: flex;
  align-items: center;
  justify-content: space-between;
}

#meals-stats .stat:hover {
  background-color: var(--line-gray);
}

#meals-stats .qty {
  width: 30px;
  padding: 0.25rem;

  text-align: center;
  font-size: var(--fs-xs);
  color: #fff;
  background-color: var(--gray);

  border-radius: 2px;
}
