@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('./general.css');
@import url('./forms.css');
@import url('./sidebar.css');
@import url('./calendar.css');
@import url('./menus.css');

:root {
  --primary: #00c875;
  --secondary: #0c102b;

  --gray: #8892a1;
  --light-gray: #F5F7FA;
  --medium-gray: #cacaca;
  --dark-gray: #a2a2a2;
  --line-gray: #eaedf3;

  --blue: #5d94e4;
  --light-blue: #f5f9ff;

  --green: #3eae4d;
  --light-green: #f7fcf9;

  --orange: #f5aa2e;
  --light-orange: #fffbf7;

  --bg-gray: #f7f8fa;
  --bg-light-gray: #fafafa60;

  --fs-xs: 10px;
  --fs-sm: 13px;
  --fs-md: 16px;
  --fs-lg: 18px;
  --fs-xl: 24px;
  --fs-xxl: 32px;

  --sidebar-width: 240px;
  --sidebar-width-toggled: 70px;
  --header-height: 150px;
}

* {
  color: #000;
  text-decoration: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  position: relative;
  min-height: 100vh;
  width: 100%;
  /* overflow: hidden; */

  font-size: var(--fs-md);
  font-family: 'Roboto', sans-serif;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

main {
  position: relative;

  width: 100%;
  height: 100vh;
  min-height: 100vh;
  overflow-y: auto;

  scroll-behavior: smooth;
}
