#menus {
  position: relative;

  width: 100%;
  height: 100vh;
  min-height: 100vh;

  overflow: auto;
  scroll-behavior: smooth;

  border-right: 1px solid var(--line-gray);
}

/* SCROLL BAR */

#menus::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* HEADER */

#menus header {
  position: sticky;
  top: 0;
  z-index: 100;

  background-color: #fff;
  
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--line-gray);
}

#menus form {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid var(--line-gray);
}

#menus .search-bar {
  position: sticky;
  top: 79px;
  z-index: 100;
  
  width: 100%;
  padding: 0.75rem;
  background-color: #f5f7fa;
  opacity: 1;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #eaedf3 0,
    #eaedf3 1px,
    #f5f7fa 0,
    #f5f7fa 50%
  );

  /* border-radius: 8px; */
}

#menus .search-bar i {
  padding: 0.5rem;

  color: var(--primary);
  font-size: var(--fs-xl);
}

#menus .search-bar .search-group {
  border-radius: 4px;
  border: 1px solid var(--line-gray);
  background-color: #fff;

  display: flex;
  align-items: center;
}

#menus .search-bar input {
  font-size: var(--fs-md);

  display: block;
  height: 100%;
  width: 100%;

  outline: none;
  border: none;
}

#menus .search-bar button {
  cursor: pointer;
  background: none;
  border: none;
}

#menus table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-bottom: 2rem;
}

#menus tr:hover td {
  cursor: pointer;
  background-color: var(--light-gray);
}

#menus table thead {
  position: sticky;
  top: 146px;
  z-index: 200;

  font-weight: 600;
  background-color: #fff;

  box-shadow: rgba(149, 157, 165, 0.15) 0px 8px 24px;
}


#menus table tr th,
#menus table tr td {
  padding: 1rem;
  border-bottom: 1px solid var(--line-gray);
}


#menus table thead tr {
  border-bottom: 1px solid red;
}

#menus table tr td:nth-child(1) {
  width: 20px;
  text-align: center;
}

#menus .fav {
  color: #ffb321;
}
