.sidebar {
  width: var(--sidebar-width);
  border-right: 1px solid var(--line-gray);
}

.sidebar header {
  padding: 1.75rem 1.5rem;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sidebar .toggler {
  cursor: pointer;
  font-size: var(--fs-xl);

  display: flex;
  align-items: center;
}

.sidebar .logo {
  font-size: var(--fs-lg);

  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.sidebar .logo i {
  font-size: var(--fs-xl);
  color: var(--green);
}

.sidebar nav {
  padding: 0 1rem;
}

.sidebar nav li {
  list-style: none;
}

.sidebar nav li a {
  padding: 0.75rem 0.5rem;
  border-radius: 4px;

  display: flex;
  align-items: center;
  gap: 1rem;
}

.sidebar nav li a:hover {
  background-color: var(--bg-gray);
}

.sidebar nav li a i {
  font-size: var(--fs-xl);
}

.sidebar nav li.active a span,
.sidebar nav li.active a i,
.sidebar nav li:hover a i,
.sidebar nav li:hover a span {
  color: var(--green);
}

.sidebar .divider {
  margin: 1rem 0;
  border: 1px solid var(--line-gray);
}

/* TOGGLED */

.sidebar.toggled {
  width: var(--sidebar-width-toggled);
}

.sidebar.toggled .logo span,
.sidebar.toggled .toggler-icon,
.sidebar.toggled nav a span {
  visibility: hidden;
  opacity: 50%;
}
