h1 {
    text-align: center;
}

.introducao p {
    color: purple;
}

#nome_sobrenome {
    color: blue;
}

#endereco {
    background-color: orange;
}

#lista_amigos {
    color: green;
}

.bom_amigo {
    font-weight: bold;
}

.fotos {
    border: 2px dashed purple;
}

.fotos h2 {
    color: white;
    background-color: purple;
}

.fotos h2 span {
    color: purple;
    background-color: white;
}

.fotos ul {
    text-decoration: underline;
}

.fotos section h3 {
    font-style: italic;
}

.fotos p {
    color: red;
}

.fotos img {
    width: 100%;
}

footer {
    text-align: center;
    font-style: italic;
    font-size: small;
}