/* SELECT */

select {
  width: 100%;
  padding: 0.5rem;
  /* font-weight: 700; */
  background-color: transparent;
  border-radius: 5px;
}

select,
select:focus {
  border-color: var(--primary);
  outline: 0;
  font-size: var(--fs-md);
}

/* BUTTONS */

.btn {
  cursor: pointer;
  font-weight: 600;

  padding: 0.5rem 0.6rem;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: var(--medium-gray);
}

.btn-primary {
  color: #fff;
  background: var(--primary);
}

.btn-warning {
  color: #fff;
  background: var(--secondary);
}

.btn-warning-outline {
  color: var(--secondary);
  background-color: inherit;
  border: 1px solid var(--secondary);
}

.btn:hover {
  filter: brightness(110%);
}

.btn-sm {
  font-size: var(--fs-sm);
  padding: 0.25;
}

/* TEXT COLORS */

.text-muted {
  color: var(--medium-gray);
}

.text-secondary {
  color: var(--dark-gray);
}

/* FORMS */

.form label {
  color: var(--dark-gray);
  font-weight: 400;
}

.form-group {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.form-group input,
.form-group textarea,
.select-group {
  font-family: inherit;
  font-weight: normal;
  font-size: var(--fs-md);

  padding: 0.5rem;
  margin-bottom: 1rem;

  border-radius: 4px;
  border: 1px solid var(--line-gray);
}

.form-group input:focus,
.form-group textarea:focus,
.select-group:focus {
  outline: 2px solid var(--primary);
}

.inline-group {
  display: grid;
  grid-template-columns: auto auto;
  gap: 0 0.5rem;
}

.inline-btn-group {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 0.5rem;
}

/* .form button {
  cursor: pointer;
  font-size: var(--fs-md);

  border: 1px solid var(--line-gray);
  border-radius: 4px;

  padding: 0.75rem;
}

.form button[type='submit'] {
  color: #fff;
  background-color: var(--primary);
}

.form button[type='cancel'] {
  color: #fff;
  background-color: var(--secondary);
} */

.bg-striped {
  background-color: #f5f7fa;
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: repeating-linear-gradient(
    45deg,
    #eaedf3 0,
    #eaedf3 1px,
    #f5f7fa 0,
    #f5f7fa 50%
  );
}
