#meal {
  position: relative;

  width: 100%;
  min-width: 650px;
  height: 100vh;
  min-height: 100vh;

  overflow: auto;
  scroll-behavior: smooth;
}

/* SCROLL BAR */

#meal::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* HEADER */

.meal__header {
  position: sticky;
  top: 0;
  z-index: 100;

  height: 79x;
  padding: 1.25rem 1.5rem;

  background-color: #fff;
  border-bottom: 1px solid var(--line-gray);
}

.meal__form {
  padding: 1.25rem 1.5rem;
  background-color: var(--bg-light-gray);
  border-bottom: 1px solid var(--line-gray);
}

/* TABLE */

.meal__table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.meal__table thead {
  position: sticky;
  top: 79px;
  z-index: 1000;
  background-color: var(--bg-light-gray);
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  border: 1px solid red;
}

.meal__table tr:hover td {
  background-color: var(--light-gray);
}

.meal__table th,
.meal__table td {
  padding: 1rem;
  border-bottom: 1px solid var(--line-gray);
}

.meal__table tr td:nth-child(1) {
  width: 20px;
  cursor: pointer;
}

.meal__table tr td:nth-child(2) {
  min-width: 80px;
}

.meal__table .loader td {
  padding: 0;
}

.meal__table .clickable {
  width: 20px;
  cursor: pointer;
  text-align: center;
}

.meal__table .clickable:hover {
  background-color: var(--medium-gray);
}

/* ICONS */

.meal__table .edit__icon {
  font-size: var(--fs-lg);
}

.meal__table .fav__icon.active {
  color: #ffb321;
}
