#meal {
  position: relative;

  width: 100%;
  min-width: 650px;
  height: 100vh;
  min-height: 100vh;

  overflow: auto;
  scroll-behavior: smooth;
}

/* SCROLL BAR */

#meal::-webkit-scrollbar {
  width: 0; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

/* HEADER */

.meal__header {
  position: sticky;
  top: 0;
  z-index: 100;

  height: 79x;
  padding: 1.25rem 1.5rem;

  background-color: #fff;
  border-bottom: 1px solid var(--line-gray);
}

.meal__body {
  position: relative;
  top: 0;

  height: 100%;
  display: grid;
  grid-template-columns: min-content auto;
  align-items: flex-start;
}

.meal__body h3 {
  margin-bottom: 20px;
}

.meal__form {
  position: relative;

  height: 100%;
  padding: 1.25rem 1.5rem;
  background-color: var(--bg-light-gray);
  border-right: 1px solid var(--line-gray);
}

.meal__form form {
  position: sticky;
  top: 99px;
  /* z-index: 1000; */
}

/* TABLE */

.meal__table {
  width: 100%;
  text-align: left;
  border-collapse: separate;
  border-spacing: 0;
  margin-bottom: 2rem;
}

.meal__table thead {
  position: sticky;
  top: 78px;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

  border: 1px solid red;
}

.meal__table tr:hover td,
.meal__table tr.active td {
  background-color: var(--light-primary);
}

.meal__table tr.active td:first-child {
  border-left-color: var(--primary);
}

.meal__table tr td:first-child {
  border-left: 4px solid transparent;
}

.meal__table th,
.meal__table td {
  padding: 1rem;
  border-bottom: 1px solid var(--line-gray);
}

.meal__table .loader td {
  padding: 0;
}

td.description {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.meal__table .clickable {
  width: 20px;
  cursor: pointer;
  text-align: center;
}

/* ICONS */

.meal__table .bx {
  font-size: var(--fs-xl);
}
