/* DAY CARD */

.day__card {
  position: relative;
  /* cursor: pointer; */

  /* padding: 1rem; */
  border: 1px solid var(--line-gray);
  border-radius: 4px;

  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;

  transition: all 0.5s ease-in-out;
}

.day__card:hover {
  border-color: var(--primary);
  /* background-color: var(--light-primary); */
}

.day__card.past:hover {
  border-color: var(--secondary);
  /* background-color: var(--light-secondary); */
}

.day__card.past .time {
  border-color: var(--secondary);
}
