@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('./assets/css/general.css');

:root {
  --primary: #3eae4d;
  --light-primary: #f7fcf9;

  --secondary: #f5aa2e;
  --light-secondary: #fffbf7;

  --tertiary: #5d94e4;
  --light-tertiary: #f5f9ff;

  --gray: #8892a1;
  --light-gray: #f5f7fa;
  --medium-gray: #cacaca;
  --dark-gray: #424242;
  --line-gray: #eaedf3;

  --bg-gray: #f7f8fa;
  --bg-light-gray: #fafafa;

  --fs-xs: 0.625rem;
  --fs-sm: 0.812rem;
  --fs-md: 1rem;
  --fs-lg: 1.125rem;
  --fs-xl: 1.5rem;
  --fs-xxl: 2rem;

  --fs-display-1: 6rem;
  --fs-display-2: 5.5rem;
  --fs-display-3: 4.5rem;
  --fs-display-4: 3.5rem;

  --sidebar-width: 240px;
  --sidebar-width-toggled: 83px;
  --header-height: 150px;
}

* {
  color: #000;
  text-decoration: none;

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: var(--fs-md);
  font-family: 'Roboto', sans-serif;
}

.grid-container {
  position: relative;
  background-color: #fff;

  width: 100%;
  min-height: 100vh;

  display: grid;
  grid-template-columns: min-content 1fr min-content;
}
